@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  /* width: 2060px; */
  background: #262626;
}

P {
  width: 100%;
  font-size: 0.8em;
  line-height: 0.7em;
  text-align: justify;
  background: url(L2.png);
  background-blend-mode: color-dodge;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, -10);
  color: transparent;
  transition: transform 0.3s ease;
}
.zoom-background:hover {
  /* transform: scale(1.1); Tăng kích thước khi hover */
}
